<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="font/iconfont.css">
    <!--<script src="/./js/jquery-3.2.1.min.js"></script>-->
    <script src="/js/jquery-1.12.4.js"></script>
    <title>Document</title>
</head>
<body>

<div class="header_head">
    <div class="header_head_box">
        <b class="header_head_p">
            <div style="overflow: hidden">
                <a href="http://malle.com" class="header_head_p_a1" style="width:73px;">
                    MallE
                </a>
                <a href="" class="header_head_p_a">
                    <!--<img src="/img/img_05.png" style="border-radius: 50%;"/>-->
                    Stoke</a>
            </div>
            <div class="header_head_p_cs">
                <a href="" style="background: #C81623;color: #fff;">Stoke</a>
            </div>
        </b>
        <ul>
            <li style="width: auto">
                <a class="li_2" th:if="${session.loginUser != null}" href="">Hi，[[${session.loginUser.nickname}]]</a>
                <a th:if="${session.loginUser == null}"  href="http://auth.malle.com/login.html">Hi,Sign In</a>
            </li>
            <li th:if="${session.loginUser == null}">
                <a  href="http://auth.malle.com/reg.html" class="li_2">Sing Up For Free</a>
            </li>
            <span>|</span>
            <li>
                <a href="http://cart.malle.com/cart/list.html">My Order</a>
            </li>
            <span>|</span>
            <li class="header_sjjd">
                <a href="http://malle.com">Malle</a>
                <div class="header_sjjd_div">
                    <img src="/img/01.png" />
                </div>
            </li>
        </ul>
    </div>
</div>

<!--搜索导航-->
<div class="header_sous">
    <div class="logo">
        <a href="http://malle.com"><img src="/image/logo_malle.jpg" alt=""></a>
    </div>
    <div class="header_form">
        <input id="input_keyword" type="text" placeholder="Mobile" />
        <a href="javascript:searchByKeyword();">Search</a>
    </div>
    <div class="header_ico">
        <div class="header_gw">
            <span><a href="">My Basket</a></span>
            <img src="/image/settleup-@1x.png" />
            <span>0</span>
        </div>
        <div class="header_ko">
            <p>Nothing in your basket</p>
        </div>
    </div>
    <nav>
        <ul>
            <li class="nav_li1">
                <a href="http://malle.com">All Categorys</a>
            </li>
        </ul>
    </nav>
</div>

<hr style="border: 1px solid #1346e3;margin-top: -7px;">
<br>
<!--手机-->
<div class="JD_ipone">
    <div class="JD_ipone_bar">
        <div class="JD_ipone_one a crumbs-first">
            <a href="">All Results</a>
        </div>
        <i><img src="/static/search/image/right-@1x.png" alt=""></i>

    </div>
</div>

<!--商品筛选和排序-->
<div class="JD_banner w">
    <div class="JD_nav">
        <div class="JD_selector">
            <!--手机商品筛选-->
            <div class="title">
                <h3><em>Products</em></h3>
                <div class="st-ext">Total&nbsp;<span>[[${result.totalCount}]]</span> Itmes </div>
            </div>
            <div class="JD_nav_logo">
                <!--品牌-->
                <div class="JD_nav_wrap" th:if="${#strings.isEmpty(param.brandId)}">
                    <div class="sl_key">
                        <span>Brands：</span>
                    </div>
                    <div class="sl_value">
                        <div class="sl_value_logo">
                            <ul>
                                <li th:each="brand:${result.brands}">
                                    <a href="" th:href="${'javascript:searchProduct(&quot;brandId&quot;, '+brand.brandId+')'}">
                                        <img th:src="${brand.brandImg}" alt="" width="40%">
                                        <div th:text="${brand.brandName}">
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sl_ext">
                    </div>
                </div>

                <!--分类-->
                <div class="JD_nav_wrap">
                    <div class="sl_key">
                        <span>Category：</span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="category:${result.catelogs}">
                                <a href=""
                                   th:href="${'javascript:searchProduct(&quot;catelog3Id&quot;, '+category.catelogId+')'}"
                                   th:text="${category.catelogName}"> </a>
                            </li>
                        </ul>
                    </div>
                    <div class="sl_ext">
                    </div>
                </div>

                <!--other attrs need to show-->
                <div class="JD_pre" th:each="attr:${result.attrs}"  th:if="${!#lists.contains(result.paramAttrIds, attr.attrId)}">
                    <div class="sl_key">
                        <span th:text="${attr.attrName}+':'"> </span>
                    </div>
                    <div class="sl_value">
                        <ul>
                            <li th:each="value:${attr.attrValue}">
                                <a href="" th:href="${'javascript:searchProduct(&quot;attrs&quot;, &quot;'+attr.attrId+'_'+value+'&quot;)'}" th:text="${value}"> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="JD_show">
                <a href="">
                    <span>
                        More Options（CPU, Network, Color ... ）
                    </span>
                </a>
            </div>
        </div>
        <!--排序-->
        <div class="JD_banner_main">
            <!--商品精选-->
            <div class="JD_con_left">
                <div class="JD_con_left_bar">

                </div>
            </div>
            <!--综合排序-->
            <div class="JD_con_right">
                <div class="filter">
                    <!--综合排序-->
                    <div class="filter_top">
                        <div class="filter_top_left" th:with="sortField = ${param.sort}, price=${param.skuPrice}">
                            <a sort="hotScore"
                               th:class="${(!#strings.isEmpty(sortField) && #strings.startsWith(sortField, 'hotScore') && #strings.endsWith(sortField, 'desc')) ? 'a_sort desc' : 'a_sort'}"
                               th:attr="style=${(#strings.isEmpty(sortField) || #strings.startsWith(sortField, 'hotScore')) ? 'color: #FFF;border-color: #e4393c;background: #e4393c;' : 'color: #333;border-color: #CCC;background: #FFF;'}">
                                Hot [[${(!#strings.isEmpty(sortField) && #strings.startsWith(sortField, 'hotScore') && #strings.endsWith(sortField, 'desc'))?'↓':'↑'}]]</a>
                            <a sort="saleCount"
                               th:class="${(!#strings.isEmpty(sortField) && #strings.startsWith(sortField, 'saleCount') && #strings.endsWith(sortField, 'desc')) ? 'a_sort desc' : 'a_sort'}"
                               th:attr="style=${(!#strings.isEmpty(sortField) && #strings.startsWith(sortField, 'saleCount')) ? 'color: #FFF;border-color: #e4393c;background: #e4393c;' : 'color: #333;border-color: #CCC;background: #FFF;'}">
                                Sales [[${(!#strings.isEmpty(sortField) && #strings.startsWith(sortField, 'saleCount') && #strings.endsWith(sortField, 'desc'))?'↓':'↑'}]]</a>
                            <a sort="skuPrice"
                               th:class="${(!#strings.isEmpty(sortField) && #strings.startsWith(sortField, 'skuPrice') && #strings.endsWith(sortField, 'desc')) ? 'a_sort desc' : 'a_sort'}"
                               th:attr="style=${(!#strings.isEmpty(sortField) && #strings.startsWith(sortField, 'skuPrice')) ? 'color: #FFF;border-color: #e4393c;background: #e4393c;' : 'color: #333;border-color: #CCC;background: #FFF;'}">
                                Price [[${(!#strings.isEmpty(sortField) && #strings.startsWith(sortField, 'skuPrice') && #strings.endsWith(sortField, 'desc'))?'↓':'↑'}]]</a>
                            <input id="input_price_from" type="number" th:min="0" width="120px" style="margin-left: 20px"
                                   th:value="${!#strings.isEmpty(price) ? #strings.substringBefore(price, '_') : 0}"/> -
                            <input id="input_price_to" type="number" th:min="0" width="120px"
                                   th:value="${!#strings.isEmpty(price) ? #strings.substringAfter(price, '_') : 0}"/>
                            <button id="price_btn">OK</button>
                        </div>
                        <div class="filter_top_right">
                        </div>
                    </div>
                    <!--收货地址-->
                    <div class="filter_bottom">
                        <div class="filter_bottom_left">
                            <div class="fs-cell">Location</div>
                            <div class="dizhi">
                                <div class="dizhi_show">
                                    <em>ST4 *</em>
                                    <b></b>
                                </div>
                            </div>
                            <div class="dizhi_con">
                                <ul id="tab">
                                    <li id="tab1" value="1">UK <img src="/image/down-@1x.png" alt=""></li>
                                    <li id="tab2" value="2">Staffordshire <img src="/image/down-@1x.png" alt=""></li>
                                    <li id="tab3" value="3">Stoke-on_trent <img src="/image/down-@1x.png" alt=""></li>
                                </ul>
                                <div id="container">
                                    <div id="content1" style="z-index: 1;">
                                        <a href=""></a>
                                    </div>
                                    <div id="content2">
                                        <a href=""></a>
                                    </div>
                                    <div id="content3">
                                        <a href=""></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="filter_bottom_right">

                        </div>

                    </div>
                    <!--排序内容-->
                    <div class="rig_tab">
                        <div th:each="product : ${result.getSkuList()}">
                            <div class="ico">
                                <i class="iconfont icon-weiguanzhu"></i>
                                <a href="">Favorite</a>
                            </div>
                            <p class="da">
                                <a th:href="|http://item.malle.com/${product.skuId}.html|">
                                    <img th:src="${product.skuImg}" class="dim">
                                </a>
                            </p>
                            <ul class="tab_im">
                                <li><a th:href="|http://item.malle.com/${product.skuId}.html|" title="黑色">
                                    <img th:src="${product.skuImg}"></a></li>
                            </ul>
                            <p class="tab_R">
                                <span th:text="'£'+${product.skuPrice}">¥5199.00</span>
                            </p>
                            <p class="tab_JE">
                                <a th:href="|http://item.malle.com/${product.skuId}.html|" th:utext="${product.skuTitle}">
                                </a></p>
                            <p class="tab_CP"><a href="" title="Malle Prodyct">Malle Prodyct</a>
                                <a href='' title="Null">
                                    <img src="/img/xcxc.png">
                                </a>
                            </p>
                            <div class="tab_FO">
                                <div class="FO_one">
                                    <p>MallE
                                        <span>Quality assurance</span>
                                    </p>
                                    <p>Event
                                        <span>No active information</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--分页-->
                    <div class="filter_page">
                        <div class="page_wrap">
                            <span class="page_span1">
                                <a class="a_nav" th:attr="pn=${result.currPage - 1}" th:if="${result.currPage > 1}">< Last</a>
                                <a class="a_nav" th:each="nav : ${result.pageNavs}" th:attr="pn = ${nav}, style=${nav == result.currPage ? 'border: 0;color:#ee2222;background: #fff' : ''}">[[${nav}]]</a>
                                <a class="a_nav" th:attr="pn=${result.currPage + 1}" th:if="${result.currPage < result.totalPage}">Next ></a>
                                <em>Total&nbsp;<b>[[${result.totalPage}]]</b>&nbsp;Pages</em>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>


<!--底部-->
<footer class="footer">
    <div class="footer_top" style="margin-left: 750px">
        <ul>
            <li>
                <h3>YuChen Liu</h3>
            </li>
            <li>
                <h3>A Student Of</h3>
            </li>
            <li>
                <h3>Staffordshire University</h3>
            </li>
        </ul>
    </div>
    <div class="footer_foot" style="margin-left: 700px">
        <p class="footer_p">
            <a href="">About Us</a>
            <span></span>
            <a href="" style="color: rgb(114, 114, 114);">Contact us</a>
            <span></span>
            <a href="">Help</a>
            <span></span>
            <a href="" style="color: rgb(114, 114, 114);">Allwayz Liu</a>
            <span></span>
            <a href="" style="color: rgb(114, 114, 114);">YuChen Liu</a>
            <span></span>
            <a href="" style="color: rgb(114, 114, 114);">Staffordshire University</a>
            <span></span>
            <a href="" style="color: rgb(114, 114, 114);">2020-2021</a>
        </p>
        <p class="footer_p">
            <a href="">StaffordShire University Assessment</a>
            <span></span>
            <a href="">Student Id:17029865</a>
            <span></span>
            <a href="">Name: YuChen Liu</a>
            <span></span>
            <a href="">Final Year Project</a>
        </p>
        <p class="footer_p">
            <a href="">Copyright © 2020 - ∞  Malle.com</a>
            <span></span>
            <a href="">GitHub Page</a>
            <span></span>
            <a href="">Thanks to everyone who helped me</a>
        </p>
        <p class="footer_p">

            <a href="">Project Based On: Docker</a>
            <span></span>
            <a href="">Ali Cloud</a>
            <span></span>
            <a href="">MariaDB，Radis，ElasticSearch</a>
            <span></span>
            <a href="">Nginx,TomCat, Java VM</a>
            <span></span>
            <a href="">Pictures FromThe brand's official website</a>
        </p>
    </div>
</footer>

<!--右侧侧边栏-->
<div class="header_bar">
    <div class="header_bar_box">
        <ul>
            <li>
                <a href=""><img src="/img/fa3f24a70d38bd439261cb7439e517a5.png" /></a>
                <div class="div">
                    <a href="">Back To Top</a>
                </div>
            </li>
            <li>
                <a href="mailto:l029865h@student.staffs.ac.uk"><img src="/img/xinxi.png" /></a>
                <div class="div">
                    <a href="mailto:l029865h@student.staffs.ac.uk">反馈</a>
                </div>
            </li>
        </ul>
    </div>
</div>

<script>
    $(".sl_ext a:nth-child(1)").hover(function(){
        $(this).children("b").stop(true).animate({top:"3px"},50);
        $(this).children("i").stop(true).animate({top:"-23px"},50)
    },function(){
        $(this).children("b").stop(true).animate({top:"24px"},50);
        $(this).children("i").stop(true).animate({top:"3px"},50)
    });
    $(".sl_ext a:nth-child(2)").hover(function(){
        $(this).children("span").stop(true).animate({top:"-1px"},100);
        $(this).children("i").stop(true).animate({top:"-14px"},100).css({display:"none"})
    },function(){
        $(this).children("span").stop(true).animate({top:"14px"},100);
        $(this).children("i").stop(true).animate({top:"-1px"},100).css({display:"block"})
    });
    $('.tab_im img').hover(function(){
        var a=$(this).prop('src');
        var index=$(this).parents('li').index();
        $(this).parents('li').css('border','2px solid red').siblings('li').css('border','1px solid #ccc');
        $(this).parents('ul').prev().find('img').prop('src',a);
        $(this).parents('ul').siblings('.tab_JE').find('a').eq(list).css('display','block').siblings('a').css('display','none');
        $(this).parents('ul').siblings('.tab_R').find('span').eq(list).css('display','block').siblings('span').css('display','none')
    });

    $(".JD_ipone_one").hover(function(){
        $(this).children("div").css({display:"block"})
    },function(){
        $(this).children("div").css({display:"none"})
    });

    $("#tab>li").click(function() {
        var i = $(this).index();
        $("#container>div").hide().eq(i).show()
    });
    $(".dizhi_show").hover(function(){
        $(".dizhi_con").css({display:"block"})
    },function(){
        $(".dizhi_con").css({display:"none"})
    });
    $(".dizhi_con").hover(function(){
        $(this).css({display:"block"})
    },function(){
        $(this).css({display:"none"})
    });
    //显示隐藏
    var $li = $(".JD_nav_logo>div:gt(3)").hide();
      $('.JD_show span').click(function(){
          if($li.is(':hidden')){
              $li.show();
              $(this).css({width:"86px"}).text('Close ^');
          }else{
              $li.hide();
              $('.JD_show span').css({width:"291px"}).text('More Options（CPU, Network, Color ... ）');
          }
          return false;
      });



    $(".rig_tab>div").hover(function(){
        var i = $(this).index();
        $(this).find('.ico').css({display:'block'}).stop(true).animate({top:"190px"},300)
    },function(){
        var i = $(this).index();
        $(this).find('.ico').css({display:'none'}).stop(true).animate({top:"230px"})
    });

    $('.header_main_left>ul>li').hover(function() {
        $(this).css({
            background: "#f0f0f0"
        }).find('.header_main_left_main').stop(true).fadeIn(300)
    }, function() {
        $(this).css({
            background: "#fff"
        }).find(".header_main_left_a").css({
            color: "#000"
        });
        $(this).find('.header_main_left_main').stop(true).fadeOut(100)
    });
    $(".header_sj a").hover(function() {
        $(this).css({
            background: "#444"
        })
    }, function() {
        $(this).css({
            background: "#6e6568"
        })
    });


    $(".nav_li1 a").hover(function(){
        $(".header_main_left").stop(true).fadeIn()
    },function(){
        $(".header_main_left").stop(true).fadeOut()
    });
    $(".header_main_left").hover(function(){
        $(this).stop(true).fadeIn()
    },function(){
        $(this).stop(true).fadeOut()
    });


    //右侧侧边栏
    $(".header_bar_box ul li").hover(function() {
        $(this).css({
            background: "#7A6E6E"
        }).children(".div").css({
            display: "block"
        }).stop(true).animate({
            left: "-60px"
        }, 300)
    }, function() {
        $(this).css({
            background: "#7A6E6E"
        }).children(".div").css({
            display: "none"
        }).stop(true).animate({
            left: "0"
        }, 300)
    });


    //底部
    $(".footer_foot .p1 a").hover(function(){
        $(this).css("color","#D70B1C")
    },function(){
        $(this).css("color","#727272")
    });

    $(".footer .footer_center ol li a").hover(function(){
        $(this).css("color","#D70B1C")
    },function(){
        $(this).css("color","#727272")
    })

    function searchProduct(attrName, attrValue){
        var currHref =  location.href;
        var index = currHref.indexOf("?");
        // 如果链接中有问号，直接往后拼接
        if (index != -1) {
            // 只有brandId和attrs,属性是多选值，也就是可以是 xxx&brandId=1&brandId=4
            if (attrName === "attrs" || attrName === "brandId") {
                location.href = currHref + "&" + attrName + "=" + attrValue;
            } else {
                // 如果是其他k=v。只能是单个值，之前的链接中参数部分已经出现，那就直接替换值
                if (currHref.includes(attrName)) {
                    location.href = replaceParamVal(currHref, attrName, attrValue);
                } else {
                    location.href = currHref + "&" + attrName + "=" + attrValue;
                }
            }
            //
            // 如果链接中没有问号。第一个拼接的k=v应该用?链接
        } else {
            location.href =  currHref + "?" + attrName + "=" + attrValue;
            console.log(currHref)
        }
    }

    /*替换url中某个k=v为k=v1*/
    function replaceParamVal(url, paramName, newValue) {
        var urlStr = url.toString();
        var regx = eval('/(' + paramName + '=)([^&]*)/gi');
        var newUrl = urlStr.replace(regx, paramName + '=' + newValue);
        return newUrl;
    }

    function searchByKeyword() {
        var keyword = $("#input_keyword").val();
        if (keyword == null || keyword == '' || keyword.length == 0) {
            alert("Keyword Can not be Null")
            return false;
        }
        searchProduct("keyword", keyword)
        return false;
    }

    /*导航部分，每个页码的点击事件*/
    $(".a_nav").click(function (){
        var pn = $(this).attr("pn");
        searchProduct("pageNum", pn);
        return false;
    });

    /*导航页的确定按钮*/
    function gotoPage() {
        var pageNum = $("#input_pageNum").val();
        searchProduct("pageNum", pageNum);
        return false;
    }

    /*排序部分*/
    $(".a_sort").click(function (){
        // alert($(this).text())
        // color: #FFF;border-color: #e4393c;background: #e4393c;

        // 恢复其他排序字段的默认样式
        $(".a_sort").css({"color": "#333", "border-color": "#CCC", "background": "#FFF"})
        $(".a_sort").each(function (){
            // 删除文本后面的上下箭头
            var old = $(this).text().replace("↑", "").replace("↓", "");
            $(this).text(old);
        })

        // 被点击字段高亮
        $(this).css({"color": "#FFF", "border-color": "#e4393c", "background": "#e4393c"})
        // 反转排序规则
        $(this).toggleClass("desc");
        // 删除文本后面的上下箭头
        var old = $(this).text().replace("↑", "").replace("↓", "");
        var order = "";
        // 得到排序规则，为文本内容添加上下箭头
        if ($(this).hasClass("desc")) {
            order = "desc";
            $(this).text(old + "↓");
        } else {
            order = "asc";
            $(this).text(old + "↑");
        }
        var sort = $(this).attr("sort") + "_" + order;

        // 页面跳转
        searchProduct("sort", sort)
        // 禁用默认行为
        return false;
    })

    /*按照价格区间检索*/
    $("#price_btn").click(function (){
        var price_from = $("#input_price_from").val();
        var price_to = $("#input_price_to").val();

        if (price_from < 0) price_from = 0;
        if (price_to < 0) price_to = 0;
        var skuPrice = price_from + "_" + price_to;

        console.log(skuPrice);
        // 跳转
        searchProduct("skuPrice", skuPrice)

        return false;
    })

    /*点击仅显示有货*/
    $("#input_stock").change(function (){
        var flag = $(this).prop("checked");
        if (flag) {
            searchProduct('hasStock', 1);
        } else {
            var regx = eval('/([?&]hasStock=)([^&]*)/gi');
            location.href = (location.href+'').replace(regx, "");
        }
        return false;
    })

    // 检索栏目多个时，默认的js只会显示前两个div，把后面的display设置为none
    $(".attr").css("display", "block")

</script>
</body>
</html>