<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="JD_sass/JD1.css" />
		<script src="JD_js/jquery-3.1.1.min.js" type="text/javascript" charset="utf-8"></script>
		<title>MallE</title>

	</head>
	<body>
	<div style="margin-left: 650px">
		<!--顶部logo-->
		<header>
			<a href="http://malle.com"><img src="JD_img/logo_mall.jpg" /></a>
			<p>Welcome</p>
		</header>
		<div class="top-2">
		</div>
		<!--大图-->
		<div class="top-3">
			<div class="img_1">
				<img src="JD_img/5731485aN1134b4f0.png" />
			</div>
			<div id="sign">
				<div class="si_top">
					<p>
						<span>Welcome to Login.</span>
					</p>
				</div>
				<div class="si_cen">
					<h2 class="btn1">Log In</h2>
				</div>
				<div class="si_bom1 tab" style="display: none;">
					<div class="error">
						<div></div>
						Please enter user name and password
					</div>
					<form action="/login/login" method="post" id="login_form" onsubmit="return autoSubmit()">
						<ul th:with="flag=${!#strings.isEmpty(loginErrMsg)}">
							<li th:if="${flag}">
								<div style="color: red" th:text="${loginErrMsg}"></div>
							</li>
							<li th:attr="class=${flag ? '' : 'top_1'}">
								<img src="JD_img/user_03.png" class="err_img1"/>
								<input name="account" id="input_account" type="text" placeholder="User Name" class="user"/>
							</li>
							<li>
								<img src="JD_img/user_06.png" class="err_img2"/>
								<input name="password" id="input_password" type="password" placeholder="Password" class="password"/>
							</li>
							<li class="ent">
								<button type="submit"><a>Log&nbsp; &nbsp;In</a></button>
							</li>
						</ul>
					</form>
				</div>
				<div class="si_out">
					<ul>
						<li>
							<div data-onsuccess="onSignIn">
							<a href="">
								<svg aria-hidden="true" class="native svg-icon iconGoogle" width="18" height="18" viewBox="0 0 18 18"><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 002.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4" style="--darkreader-inline-fill: #449df4;" data-darkreader-inline-fill=""></path><path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 01-7.18-2.54H1.83v2.07A8 8 0 008.98 17z" fill="#34A853" style="--darkreader-inline-fill: #83d99a;" data-darkreader-inline-fill=""></path><path d="M4.5 10.52a4.8 4.8 0 010-3.04V5.41H1.83a8 8 0 000 7.18l2.67-2.07z" fill="#FBBC05" style="--darkreader-inline-fill: #fcca38;" data-darkreader-inline-fill=""></path><path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 001.83 5.4L4.5 7.49a4.77 4.77 0 014.48-3.3z" fill="#EA4335" style="--darkreader-inline-fill: #ed5b4f;" data-darkreader-inline-fill=""></path></svg>
								<span>Log in with Google</span>
							</a>
							</div>
						</li>
					</ul>
					<h5 class="rig">
						<img src="JD_img/4de5019d2404d347897dee637895d02b_25.png" />
						<span><a href="http://auth.malle.com/reg.html">Sign Up!</a></span>
					</h5>
				</div>
			</div>
		</div>

		<!--底部-->
		<footer>
			<ul>
				<li><a href="#">About Me</a></li>
				<li class="little">|</li>
				<li><a href="#">YuChen Liu</a></li>
				<li class="little">|</li>
				<li><a href="#">Staffordshire</a></li>
				<li class="little">|</li>
				<li><a href="#">University</a></li>
				<li class="little">|</li>
				<li><a href="#">Github</a></li>
				<li class="little">|</li>
				<li><a href="#">Docker</a></li>
				<li class="little">|</li>
				<li><a href="#">Ubuntu</a></li>
				<li class="little">|</li>
				<li><a href="#">Java</a></li>
				<li class="little">|</li>
				<li><a href="#">VUE.js</a></li>
				<li class="little">|</li>
				<li><a href="#">Nginx</a></li>
				<li class="little">|</li>
				<li><a href="#">Database</a></li>
			</ul>
			<span>Copyright &copy; 2020 - ∞ MallE.com</span>
		</footer>
	</div>
	</body>
	<script type="text/javascript">
		var alDiv = document.getElementsByClassName('tab');
		var alBtn = document.getElementsByTagName('h2');
		alDiv[0].style.display = 'block';
		var act = alBtn[0]
		for (var i = 0; i < alBtn.length; i++) {
			alBtn[i].indent = i;
			alBtn[i].onclick = function() {
				act.className = '';
				alDiv[act.indent].style.display = 'none';
				this.className = 'act'
				alDiv[this.indent].style.display = 'block'
				act = this
			}
		}

		var btn2 = document.getElementsByClassName('btn2')[0];
		var user = document.getElementsByClassName('user')[0];
		var pass = document.getElementsByClassName('password')[0];
		var err = document.getElementsByClassName('error')[0];
		var err_img1 = document.getElementsByClassName('err_img1')[0];
		var err_img2 = document.getElementsByClassName('err_img2')[0];

		btn2.onclick = function() {
			if (user.value == '' || pass.value == '') {
				err.style.display = 'block';
				user.style.border = '1px solid red';
				pass.style.border = '1px solid red';
				err_img1.src = 'JD_img/img11.png';
				err_img2.src = 'JD_img/img22.png';
			} else {
				var a = document.getElementsByClassName("a")[0].href = "";
			}
			user.onfocus = function() {
				err_img1.src = 'JD_img/grow1.png';
				user.style.border = '1px solid #999';
			}
			pass.onfocus = function() {
				err_img2.src = 'JD_img/grow2.png';
				pass.style.border = '1px solid #999';
			}
			user.onblur = function() {
				err_img1.src = 'JD_img/img11.png';
				user.style.border = '1px solid red';
			}
			pass.onblur = function() {
				err_img2.src = 'JD_img/img22.png';
				pass.style.border = '1px solid red';
			}
		}
	</script>
</html>
