<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <script src="confirm/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="confirm/css/JD2.css"/>

    <title>Confirm The Order</title>
</head>

<body>
<!--顶部-->
<header>
    <div class="header">
        <ul class="header-left">
            <li>
                <img src="confirm/img/header_1.png"/>
                <a href="http://malle.com">HomePage</a>
            </li>
        </ul>
        <ul class="header-right">
            <li th:if="${session.loginUser == null}">
                <a href="http://auth.malle.com/login.html" style="color: red">Hi, Sign In</a>
            </li>
            <li th:if="${session.loginUser != null}">
                [[${session.loginUser.nickname}]]<img src="confirm/img/03.png"
                                                      style="margin-bottom: 0px;margin-left3: 3px;"/>
                <img src="confirm/img/06.png"/>
            </li>
            <li class="spacer"></li>
            <li><a href="http://order.malle.com/center/list.html">My Order</a></li>
            <li class="spacer"></li>
        </ul>
        <div style="clear: both;"></div>
    </div>


</header>

<!--logo图片-->
<div class="top-1">
    <img src="confirm/img/logo_malle.jpg" class="img1"/><span>Order Detail</span>
    <!--右侧绿色-->
    <img src="confirm/img/img_009.jpg" class="img2"/>
</div>

<!--主体部分-->
<p class="p1">Fill in and check the order information</p>
<div class="section">
    <!--收货人信息-->
    <div class="top-2">
        <span>Consignee information</span>
        <span>Add Address</span>
    </div>

    <!--地址-->
    <div th:each="addr : ${order.addresses}" class="top-3 item-addr">
        <p th:attr="def=${addr.defaultStatus},addrId=${addr.id}">[[${addr.name}]]</p>
        <span>
					[[${addr.province}]]  [[${addr.city}]] [[${addr.detailAddress}]]
				</span>
        <span>
					[[${addr.name}]] [[${addr.phone}]]
				</span>
    </div>
    <div class="hh1"/>
</div>
<!--********************************************************************************************-->
<!--谷粒学院自提-->
<div class="top-4">
    <p>Express</p>
    <p>Contactless Delivery</p>
<!--    <p class="xiang">Detail</p>-->
</div>
<div class="hh1"/>
</div>

<!--支付方式-->
<h4 class="h4">Pay Method</h4>

<div class="top-6">
    <p>Credit card</p>
    <p>debit card</p>
</div>
<div class="hh1"></div>
<!--送货清单-->
<h4 class="h4" style="margin-top: 5px;">Order Detail</h4>
<div class="top_1">
    <div class="to_left">
        <h5><span class="peisong">Delivery</span><span class="dui"><img src="confirm/img/i_03.png"/> Items</span></h5>
        <div class="box">
            Unknow Express
        </div>
        <p class="biao">
            <span class="til">Standard：</span>
            <span class="con">Expected to be delivered：</span>
            <a href="#">Delivery service unavailable</a>
        </p>
        <div class="hh1"></div>
        <p class="tui">
            <span class="til">Return: </span>
            <span class="con">

                Support 7 days return
						</span>

        </p>
        <p class="kg" style="color:#666666;margin-top: 13px;font-size: 12px">Total Weight: <span
                style="color:#999999;font-size: 12px">0.095kg</span></p>
    </div>
    <div class="to_right">
        <h5>Merchants: MallE</h5>
        <div class="yun1" th:each="item:${order.items}">
            <img src="confirm/img/im_03.png" th:src="${item.skuImg}" class="yun"/>
            <div class="mi">
                <p>[[${item.skuTitle}]]
                    <span style="color: red;"> £ [[${#numbers.formatDecimal(item.price,1,2)}]]</span>
                    <span> x[[${item.count}]] </span>
                    <span style="font-weight: bold" th:text="${item.stock > 0? 'In stock':'Out of stock'}">有货</span>
                </p>
                <div style="float: left">
                    <p th:each="attr:${item.attrs}" th:text="${attr} " style="float: left">电提醒 久坐提醒 LED显示器 时间显示 防水记 </p>
                    <p style="float: left">0.095kg</p>
                </div>
                <p class="tui-1"><img src="confirm/img/i_07.png"/>Support 7 days return</p>
            </div>
        </div>

        <div class="hh1"></div>
        <!--				<p>退换无忧 <span class="money">£ [[${#numbers.formatDecimal(order.totalPrice,1,2)}]]</span></p>-->
    </div>
</div>
<div class="bto">
    <div class="hh2"></div>
    <h4 class="float">Bill Address</h4>
    <div class="note float"><img src="confirm/img/i_11.png"/> <span>Default is the same as the shipping address</span></div>
    <ul style="clear: both;">
<!--        <li>电子普通发票 <img src="confirm/img/i_14.png"/></li>-->
<!--        <li>个人</li>-->
<!--        <li>商品明细</li>-->
<!--        <li>-->
<!--            <a href="">修改</a>-->
<!--        </li>-->
    </ul>
    <div class="hh3"></div>
    <h4 class="clear">Gift Card</h4>
    <ul>

    </ul>
    <div class="tuijian clear">
    </div>
</div>
<div class="xia">
    <div class="qian">
        <p class="qian_y">
            <span>[[${order.totalCount}]]</span>
            <span>Items In Total，Price：</span>
            <span class="rmb">£[[${#numbers.formatDecimal(order.totalPrice,1,2)}]]</span>
        </p>
        <p class="qian_y">
            <span>Postage： </span>
            <span class="rmb"> &nbsp £0.00<span id="fare"></span></span>
        </p>
        <p class="qian_y">
            <span>The service fee： </span>
            <span class="rmb"> &nbsp £0.00</span>
        </p>

    </div>

    <div class="yfze">
        <p class="yfze_a">
            <span class="z">Total Price：</span>
            <span class="hq" id="payAmount">£ [[${#numbers.formatDecimal(order.payPrice,1,2)}]]</span>
        </p>
        <p class="yfze_b" id="receiverAddress">Address: </p>
        <p class="yfze_b" id="receiverPhone">Consignee: [[${session.loginUser.nickname}]]</p>
    </div>
    <form action="/submit" method="post">
        <input type="hidden" name="orderToken" th:value="${order.token}"/>
        <input type="hidden" name="payType" value="1"/>
        <input type="hidden" id="input_totalPrice" name="totalPrice"  value="1"/>
        <input type="hidden" id="input_addrId" name="addressId"  value="1"/>
        <button class="tijiao" type="submit">Confirm</button>
    </form>
</div>
</div>

<div class="headera">
    <div class="Logo-tu">
        <span><img src="confirm/img/service_items_1.png"/></span>
        <span><img src="confirm/img/service_items_2.png"/></span>
        <span><img src="confirm/img/service_items_3.png"/></span>
        <span><img src="confirm/img/service_items_4.png"/></span>
    </div>
    <div class="table">
        <dl>
            <dt><a href="##">购物指南</a></dt>
            <dd>
                <a href="##">购物流程</a>
            </dd>
            <dd>
                <a href="##">会员介绍</a>
            </dd>
            <dd>
                <a href="##">生活旅行/团购</a>
            </dd>
            <dd>
                <a href="##">常见问题</a>
            </dd>
            <dd>
                <a href="##">大家电</a>
            </dd>
            <dd>
                <a href="##">练习客服</a>
            </dd>
        </dl>
        <dl>
            <dt><a href="##">配送方式</a></dt>
            <dd>
                <a href="##">上门自提</a>
            </dd>
            <dd>
                <a href="##">211限时达</a>
            </dd>
            <dd>
                <a href="##">配送服务查询</a>
            </dd>
            <dd>
                <a href="##"></a>
            </dd>
            <dd>
                <a href="##">海外配送</a>
            </dd>
            <dd></dd>
        </dl>
        <dl>
            <dt><a href="##">支付方式</a></dt>
            <dd>
                <a href="##">货到付款</a>
            </dd>
            <dd>
                <a href="##">在线支付</a>
            </dd>
            <dd>
                <a href="##">分期付款</a>
            </dd>
            <dd>
                <a href="##">邮局汇款</a>
            </dd>
            <dd>
                <a href="##">公司转账</a>
            </dd>
            <dd></dd>
        </dl>
        <dl>
            <dt><a href="##">售后服务</a></dt>
            <dd>
                <a href="##">售后政策</a>
            </dd>
            <dd>
                <a href="##">价格保护</a>
            </dd>
            <dd>
                <a href="##">退款说明</a>
            </dd>
            <dd>
                <a href="##">返修/退换货</a>
            </dd>
            <dd>
                <a href="##">取消订单</a>
            </dd>
            <dd></dd>
        </dl>
        <dl class="dls">
            <dt><a href="##">特色服务</a></dt>
            <dd>
                <a href="##">夺宝岛</a>
            </dd>
            <dd>
                <a href="##">DIY装机</a>
            </dd>
            <dd>
                <a href="##">延保服务</a>
            </dd>
            <dd>
                <a href="##">谷粒学院E卡</a>
            </dd>
            <dd>
                <a href="##">谷粒学院通信</a>
            </dd>
            <dd>
                <a href="##">谷粒学院malle+</a>
            </dd>
        </dl>
    </div>
    <div class="guanyuwomen">
        <ul>
            <li>
                <a href="##">关于我们</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">联系我们</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">联系客服</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">合作招商</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">商家帮助</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">营销中心</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">手机谷粒学院</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">友情链接</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">销售联盟</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">谷粒学院社区</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">风险检测</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">隐私政策</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">谷粒学院公益</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">English Site</a>
            </li>
            <li>|</li>
            <li>
                <a href="##">Mdeila $ IR</a>
            </li>
        </ul>
    </div>
    <p class="p1">
        <a href="##"> 京公网安备 11000002000088号</a>|
        <a href="##"> 京ICP证070359号</a>|
        <a href="##"> 互联网药品信息服务资格证编号(京)-经营性-2014-0008 </a>|
        <a href="##">新出发京零 字第大120007号</a>
    </p>
    <p class="p1">
        <a href="##"> 互联网出版许可证编号新出网证(京)字150号</a>|
        <a href="##"> 出版物经营许可证</a>|
        <a href="##"> 网络文化经营许可证京网文 </a>|
        <a href="##">[2014]2148-348号 </a>|
        <a href="##"> 违法和不良信息举报电话 </a>|
        <a href="##">：4006561155 </a>
    </p>
    <p class="p1">
        <a href="##"> Copyright © 2004-2017 谷粒学院malle.com 版权所有</a>|
        <a href="##"> 消费者维权热线：4006067733 经营证照</a>|
    </p>
    <p class="p1">
        <a href="##"> 谷粒学院旗下网站：谷粒学院支付</a>|
        <a href="##"> 谷粒学院云</a>
    </p>
    <p class="p3">
        <img src="confirm/img/54b8871eNa9a7067e.png"/>
        <img src="confirm/img/54b8872dNe37a9860.png"/>
        <img src="confirm/img/54b8875fNad1e0c4c.png"/>
        <img src="confirm/img/5698dc03N23f2e3b8.jpg"/>
        <img src="confirm/img/5698dc16Nb2ab99df.jpg"/>
        <img src="confirm/img/56a89b8fNfbaade9a.jpg"/>
    </p>
</div>
<script>
    $(document).ready(function () {
        $('.header-right li:nth-of-type(6)').hover(function () {
            $('.header-r-11').css('display', 'block')
        }, function () {
            $('.header-r-11').css('display', 'none')
        })
        $('.header-right li:nth-of-type(12)').hover(function () {
            $('.header-r-2').css('display', 'block')
        }, function () {
            $('.header-r-2').css('display', 'none')
        })
        $('.header-right li:nth-of-type(14)').hover(function () {
            $('.header-r-3').css('display', 'block')
        }, function () {
            $('.header-r-3').css('display', 'none')
        })
        $('.header-l-2').hover(function () {
            $('.header-l-d').css('display', 'block')
        }, function () {
            $('.header-l-d').css('display', 'none')
        })
        $('.header-r-4').hover(function () {
            $('.h-r-1').css('display', 'block')
        }, function () {
            $('.h-r-1').css('display', 'none')
        });

        $(".item-addr p").click(function () {
            $(".item-addr p").css({'border': '2px solid gray'})
            $(this).css({'border': '2px solid blue'})
            var addrid = $(this).attr("addrId")
            getFare(addrid)
        })

        $(".item-addr p[def='1']").click();

    })

    function getFare(addrid) {
        // 修改要提交的表单内容
        $("#input_addrId").val(addrid)

        $.get("/order/fare/address/" + addrid, function (res) {
            console.log(res);
            if (res.code == 0) {
                var address = res.data.address;
                var fare = res.data.fare * 1;
                $("#receiverAddress").text("Delivery to: " + address.province + " " + address.city + " " + address.detailAddress)
                $("#receiverPhone").text("Consignee：" + address.name + " " + address.phone)
                $("#fare").text(fare.toFixed(2));
                var pay = ([[${order.payPrice}]] + fare).toFixed(2)
                $("#payAmount").text(pay)
                // 修改要提交的表单内容
                $("#input_totalPrice").val(pay)
            } else {
                console.log(res)
            }
        })
    }


</script>
</body>

</html>