<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8"/>
    <script src="confirm/js/jquery-3.1.1.min.js"></script>
    <link rel="stylesheet" type="text/css" href="confirm/css/JD2.css"/>

    <title>Confirm The Order</title>
</head>

<body>
<!--顶部-->
<header>
    <div class="header">
        <ul class="header-left">
            <li>
                <img src="confirm/img/header_1.png"/>
                <a href="http://malle.com">HomePage</a>
            </li>
        </ul>
        <ul class="header-right">
            <li th:if="${session.loginUser == null}">
                <a href="http://auth.malle.com/login.html" style="color: red">Hi, Sign In</a>
            </li>
            <li th:if="${session.loginUser != null}">
                [[${session.loginUser.nickname}]]
                <img src="confirm/img/06.png"/>
            </li>
            <li class="spacer"></li>
            <li><a href="http://order.malle.com/center/list.html">My Order</a></li>
            <li class="spacer"></li>
        </ul>
        <div style="clear: both;"></div>
    </div>


</header>

<!--logo图片-->
<div class="top-1">
    <img src="confirm/img/logo_malle.jpg" class="img1"/><span>Order Detail</span>
    <!--右侧绿色-->
    <img src="confirm/img/img_009.jpg" class="img2"/>
</div>

<!--主体部分-->
<p class="p1">Fill in and check the order information</p>
<div class="section">
    <!--收货人信息-->
    <div class="top-2">
        <span>Consignee information</span>
        <span>Add Address</span>
    </div>

    <!--地址-->
    <div th:each="addr : ${order.addresses}" class="top-3 item-addr">
        <p th:attr="def=${addr.defaultStatus},addrId=${addr.id}">[[${addr.name}]]</p>
        <span>
					[[${addr.province}]]  [[${addr.city}]] [[${addr.detailAddress}]]
				</span>
        <span>
					[[${addr.name}]] [[${addr.phone}]]
				</span>
    </div>
    <div class="hh1"/>
</div>
<!--********************************************************************************************-->
<!--谷粒学院自提-->
<div class="top-4">
    <p>Express</p>
    <p>Contactless Delivery</p>
    <!--    <p class="xiang">Detail</p>-->
</div>
<div class="hh1"/>
</div>

<!--支付方式-->
<h4 class="h4">Pay Method</h4>

<div class="top-6">
    <p>Credit card</p>
    <p>debit card</p>
</div>
<div class="hh1"></div>
<!--送货清单-->
<h4 class="h4" style="margin-top: 5px;">Order Detail</h4>
<div class="top_1">
    <div class="to_left">
        <h5><span class="peisong">Delivery</span><span class="dui"><img src="confirm/img/i_03.png"/> Items</span></h5>
        <div class="box">
            Unknow Express
        </div>
        <p class="biao">
            <span class="til">Standard：</span>
            <span class="con">Expected to be delivered：</span>
            <a href="#">Delivery service unavailable</a>
        </p>
        <div class="hh1"></div>
        <p class="tui">
            <span class="til">Return: </span>
            <span class="con">

                Support 7 days return
						</span>

        </p>
        <p class="kg" style="color:#666666;margin-top: 13px;font-size: 12px">Total Weight: <span
                style="color:#999999;font-size: 12px">0.095kg</span></p>
    </div>
    <div class="to_right">
        <h5>Merchants: MallE</h5>
        <div class="yun1" th:each="item:${order.items}">
            <img src="confirm/img/im_03.png" th:src="${item.skuImg}" class="yun"/>
            <div class="mi">
                <p>[[${item.skuTitle}]]
                    <span style="color: red;"> £ [[${#numbers.formatDecimal(item.price,1,2)}]]</span>
                    <span> x[[${item.count}]] </span>
                    <span style="font-weight: bold" th:text="${item.stock > 0? 'In stock':'Out of stock'}">有货</span>
                </p>
                <div style="float: left">
                    <p th:each="attr:${item.attrs}" th:text="${attr} " style="float: left">电提醒 久坐提醒 LED显示器 时间显示 防水记 </p>
                    <p style="float: left">0.095kg</p>
                </div>
                <p class="tui-1"><img src="confirm/img/i_07.png"/>Support 7 days return</p>
            </div>
        </div>

        <div class="hh1"></div>
        <!--				<p>退换无忧 <span class="money">£ [[${#numbers.formatDecimal(order.totalPrice,1,2)}]]</span></p>-->
    </div>
</div>
<div class="bto">
    <div class="hh2"></div>
    <h4 class="float">Bill Address</h4>
    <div class="note float"><img src="confirm/img/i_11.png"/> <span>Default is the same as the shipping address</span>
    </div>
    <ul style="clear: both;">
    </ul>
    <div class="hh3"></div>
    <h4 class="clear">Gift Card</h4>
    <ul>

    </ul>
    <div class="tuijian clear">
    </div>
</div>
<div class="xia">
    <div class="qian">
        <p class="qian_y">
            <span>[[${order.totalCount}]]</span>
            <span>Items In Total，Price：</span>
            <span class="rmb">£[[${#numbers.formatDecimal(order.totalPrice,1,2)}]]</span>
        </p>
        <p class="qian_y">
            <span>Postage： </span>
            <span class="rmb"> &nbsp £<span id="fare"></span></span>
        </p>
        <p class="qian_y">
            <span>The service fee： </span>
            <span class="rmb"> &nbsp £0.00</span>
        </p>

    </div>

    <div class="yfze">
        <p class="yfze_a">
            <span class="z">Total Price：</span>
            <span class="hq" id="payAmount">£ [[${#numbers.formatDecimal(order.payPrice,1,2)}]]</span>
        </p>
        <p class="yfze_b" id="receiverAddress">Address: </p>
        <p class="yfze_b" id="receiverPhone">Consignee: [[${session.loginUser.nickname}]]</p>
    </div>
    <form action="/submit" method="post">
        <input type="hidden" name="orderToken" th:value="${order.token}"/>
        <input type="hidden" name="payType" value="1"/>
        <input type="hidden" id="input_totalPrice" name="totalPrice" value="1"/>
        <input type="hidden" id="input_addrId" name="addressId" value="1"/>
        <button class="tijiao" type="submit">Confirm</button>
    </form>
</div>
</div>

<div class="headera">
    <div class="Logo-tu">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.header-right li:nth-of-type(6)').hover(function () {
            $('.header-r-11').css('display', 'block')
        }, function () {
            $('.header-r-11').css('display', 'none')
        })
        $('.header-right li:nth-of-type(12)').hover(function () {
            $('.header-r-2').css('display', 'block')
        }, function () {
            $('.header-r-2').css('display', 'none')
        })
        $('.header-right li:nth-of-type(14)').hover(function () {
            $('.header-r-3').css('display', 'block')
        }, function () {
            $('.header-r-3').css('display', 'none')
        })
        $('.header-l-2').hover(function () {
            $('.header-l-d').css('display', 'block')
        }, function () {
            $('.header-l-d').css('display', 'none')
        })
        $('.header-r-4').hover(function () {
            $('.h-r-1').css('display', 'block')
        }, function () {
            $('.h-r-1').css('display', 'none')
        });

        $(".item-addr p").click(function () {
            $(".item-addr p").css({'border': '2px solid gray'})
            $(this).css({'border': '2px solid blue'})
            var addrid = $(this).attr("addrId")
            getFare(addrid)
        })

        $(".item-addr p[def='1']").click();

    })

    function getFare(addrid) {
        // 修改要提交的表单内容
        $("#input_addrId").val(addrid)

        $.get("/order/fare/address/" + addrid, function (res) {
            console.log(res);
            if (res.code == 0) {
                var address = res.data.address;
                var fare = res.data.fare * 1;
                $("#receiverAddress").text("Delivery to: " + address.province + " " + address.city + " " + address.detailAddress)
                $("#receiverPhone").text("Consignee：" + address.name + " " + address.phone)
                $("#fare").text(fare.toFixed(2));
                var pay = ([[${order.payPrice}]] + fare).toFixed(2)
                $("#payAmount").text(pay)
                // 修改要提交的表单内容
                $("#input_totalPrice").val(pay)
            } else {
                console.log(res)
            }
        })
    }


</script>
</body>

</html>