<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>order list</title>
    <link rel="stylesheet" href="list/css/index.css">
    <style media="screen">
        * {
            font-family: "微软雅黑";
        }
    </style>
</head>

<body>
<div id="nav">
    <nav>
        <div class="myjd">
            <h3>My Mall-E</h3>
            <button onclick="location.href='http://malle.com'">Back To HomePage</button>
        </div>
        <ul class="nav_ul">
            <li><a style="color:white" href="http://malle.com">HomePage</a></li>
            <li class="li hover">Setting<i class="ul_i"></i>
                <ol>
                    <li>Future Work</li>
                    <li>Developing</li>
                </ol>
            </li>
            <li class="li">Community<i class="ul_i"></i>
                <ol>
                    <li>Future Work</li>
                    <li>Developing</li>
                </ol>
            </li>
        </ul>
        <div class="right">
            <div class="btn">
                <input type="text" placeholder="iPhone">
                <button>Search</button>
            </div>
            <ul class="shop">
                <li>
                    <a href="http://cart.malle.com/cart/list.html"><i class="shop_che"></i>Basket ></a>
                </li>
            </ul>
        </div>
        <div style="clear:both;"></div>
    </nav>

</div>
<div style="clear:both;"></div>
<div id="big">
    <div id="bigLeft">
        <ul>
            <h5>Order Center</h5>
            <li style="color:#E4393C;font-weight:800;">My Order<img src="list/img/new.png"></li>
            <li>My Rating</li>
            <li>My favorite item</li>
            <li>My History</li>
        </ul>
    </div>
    <div id="bigRight">
        <div class="myOrder">
            <p>My Orders:</p>
        </div>
        <div class="allBig">
            <div class="allOrder">
                <ul class="allOrderTop">
                    <li>
                        <ol>
                            <li>All Orders</li>
                            <!--                <li>待付款</li>-->
                            <!--                <li>待收货</li>-->
                            <!--                <li>待评价</li>-->
                            <div style="clear:both;"></div>
                        </ol>
                    </li>
                    <div class="clear:both;"></div>
                </ul>

            </div>
            <div class="details">
                <ul class="detailsUl">
                    <div class="detailsUlDiv">
                        <li class="detailsLi">Order Detail</li>
                        <div style="clear:both;"></div>
                    </div>

                    <li class="detailsLi1">Consignee</li>
                    <li class="detailsLi1">Total</li>
                    <li class="detailsLi1 detailsLiok">Status<i class="allBig_i"></i>
                        <ol>
                            <li>All</li>
                            <li>To Pay</li>
                            <li>Shipped</li>
                            <li>Completed</li>
                            <li>Canceled</li>
                        </ol>
                    </li>
                    <li class="detailsLi1">Action</li>
                    <div style="clear:both;"></div>
                </ul>
            </div>
            <table class="table" th:each="order : ${page.list}">
                <tr>
                    <td colspan="7" style="background:#F7F7F7">
                        <span style="color:#AAAAAA">[[${#dates.format(order.createTime, 'yyyy-MM-dd HH:mm:ss')}]]</span>
                        <span><ruby style="color:#AAAAAA">Order SN:</ruby> [[${order.orderSn}]]</span>
                        <i class="table_i5 isShow"></i>
                    </td>
                </tr>
                <tr class="tr" th:each="item,status : ${order.items}">
                    <td colspan="3" style="text-align: left; border-right: 1px solid #ccc">
                        <img style="width: 60px; height: 60px" th:src="${item.skuPic}" alt="" class="img">
                        <div style="float: left">
                            <a th:href="|http://item.malle.com/${item.skuId}.html|" style="width: 320px;color: black" th:text="${item.skuName}"><br/></a>
                        </div>
                        <div style="margin-left: 100px;">x[[${item.skuQuantity}]]</div>
                        <div style="clear:both"></div>
                    </td>
                    <td th:if="${status.index==0}" th:rowspan="${status.size}">[[${order.receiverName}]]<i><i
                            class="table_i1"></i></i></td>
                    <td th:if="${status.index==0}" th:rowspan="${status.size}" style="padding-left:10px;color:#AAAAB1;">
                        <p style="margin-bottom:5px;">Total £[[${#numbers.formatDecimal(order.payAmount,1,2)}]]</p>
                        <hr style="width:90%;">
                        <p>Online Paied</p>
                    </td>
                    <td th:if="${status.index==0}" th:rowspan="${status.size}">
                        <ul>
                            <li style="color:#71B247;" th:if="${order.status==0}">To Pay</li>
                            <li style="color:#71B247;" th:if="${order.status==1}">Paied</li>
                            <li style="color:#71B247;" th:if="${order.status==2}">Shipped</li>
                            <li style="color:#71B247;" th:if="${order.status==3}">Complete</li>
                            <li style="color:#71B247;" th:if="${order.status==4}">Canceled</li>
                            <li style="color:#71B247;" th:if="${order.status==5}">Return</li>
                            <li style="color:#71B247;" th:if="${order.status==6}">Finished</li>
                            <li style="margin:4px 0;" class="hide"><i class="table_i2"></i>Track<i class="table_i3"></i>
                                <div class="hi">
                                    <div class="p-tit">
                                        Track Number : Unknow
                                    </div>
                                    <div class="hideList">
                                        <ul>
                                            <li>
                                                Express company data interface is not available
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="tdLi">Detail</li>
                        </ul>
                    </td>
                    <td th:if="${status.index==0}" th:rowspan="${status.size}">
                        <button th:if="${order.status==1}">Receive</button>
                        <button th:if="${order.status==0}">Pay Now</button>
                        <button th:if="${order.status==3} and ${order.status==4} and ${order.status==6}">Finished</button>
                        <p style="margin:4px 0; ">Cancel Order</p>
                    </td>
                </tr>
            </table>

            <div class="order_btm">
                <div>
                    <button class="btn_page" th:if="${page.currPage > 1}" th:attr="pageNum=${page.currPage - 1}">
                        Previous
                    </button>
                    <span th:text="${page.currPage}"> 1 </span>
                    <button class="btn_page" th:if="${page.currPage < page.totalPage}"
                            th:attr="pageNum=${page.currPage + 1}"> Next
                    </button>
                </div>
            </div>
            <div style="clear:both;"></div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>


<div class="footer">
    <div class="top">
        <ul>
            <li class="item fore1">
                YuChen Liu
            </li>
            <li class="item fore2">
                Student Of
            </li>
            <li class="item fore3">
                Staffordshire
            </li>
            <li class="item fore4">
                University
            </li>
            <div style="clear:both;"></div>
        </ul>
    </div>
    <p class="p1">
        <a href="#">About Us</a>
        <a href="#">Contact us</a>
        <a href="#">Allwayz Liu</a>
        <a href="#">YuChen Liu</a>
        <a href="#">Staffordshire University</a>
        <a href="#">2020-2021</a>
    </p>
    <div style="clear: both"></div>
</div>
</body>
<script src="list/js/jquery-3.1.1.min.js"></script>
<script src="list/js/index.js"></script>
<script>
    $('.btn_page').click(function () {
        var pageNum = $(this).attr("pageNum")
        location.href = "http://order.malle.com/center/list.html?pageNum=" + pageNum;
        return false;
    })
</script>

</html>
>