<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" type="text/css" href="itemStatic/scss/shop.css" />
	<link rel="stylesheet" href="itemStatic/scss/header.css" />
	<link rel="stylesheet" type="text/css" href="itemStatic/bootstrap/css/bootstrap.css"/>
	<link rel="stylesheet" type="text/css" href="itemStatic/scss/index.css">
</head>
<body>
<div id="max">
	<header>
		<!--品牌官方网站-->
		<div class="min">
			<ul class="header_ul_left">
				<li class="glyphicon glyphicon-home"> <a href="http://malle.com" class="aa">Malle</a></li>
				<li class="glyphicon glyphicon-map-marker"> <a href="javascript:;">Stoke</a>
					<ol id="beijing">
						<li style="background: red;"><a href="javascript:;" style="color: white;">Stoke</a></li>
						<li><a href="javascript:;">Oversea</a></li>
					</ol>
				</li>
			</ul>

			<ul class="header_ul_right">
				<li></li><li></li><li></li><li></li><li></li><li></li>
				<li style="border: 0;"><a href="http://auth.malle.com/login.html" class="aa">Hi,Sign In</a></li>
				<li><a href="http://auth.malle.com/reg.html" style="color: red;">Sign Up</a>   |</li>
				<li><a href="javascript:;" class="aa">My Order</a></li>
			</ul>
		</div>
	</header>
	<nav>
		<div class="nav_min">
			<div class="nav_top">
				<div class="nav_top_one"><a href="#"><img src="itemStatic/img/111.png"/></a></div>
				<div class="nav_top_two"><input type="text" id="item_keyword_input"/><button  onclick="goToList()">Search</button></div>
				<div class="nav_top_three"><a href="../JD_Shop/One_JDshop.html">My Basket</a><span class="glyphicon glyphicon-shopping-cart"></span>
					<div class="nav_top_three_1">
						<img src="itemStatic/img/44.png"/>Nothing In Basket, Shopping Now!
					</div>
				</div>
			</div>
			<div class="nav_down">
				<ul class="nav_down_ul">
					<li class="nav_down_ul_1" style="width: 24%;float: left;"><a href="http://malle.com">Back To HomePage</a></li>
				</ul>
			</div>
		</div>
	</nav>

</div>


<div class="Shop">
	<div class="box">
		<div class="box-one ">
			<div class="boxx">

				<div class="imgbox">
					<div class="probox">
						<img class="img1" alt="" th:src="${item.skuInfo.skuDefaultImg}">
						<div class="hoverbox"></div>
					</div>
					<div class="showbox">
						<img class="img1" alt="" th:src="${item.skuInfo.skuDefaultImg}">
					</div>
				</div>

				<div class="box-lh">

					<div class="box-lh-one">
						<ul>
							<li th:each="img : ${item.skuImages}" th:if="${!#strings.isEmpty(img.imgUrl)}">
								<img th:src="${img.imgUrl}"/>
							</li>
						</ul>
					</div>
					<div id="left">
						< </div>
					<div id="right">
						>
					</div>
				</div>
			</div>
			<div class="box-two">
				<div class="box-name" th:text="${item.skuInfo.skuTitle}">
					华为 HUAWEI Mate 10 6GB+128GB 亮黑色 移动联通电信4G手机 双卡双待
				</div>
				<div class="box-hide" th:text="${item.skuInfo.skuSubtitle}">预订用户预计11月30日左右陆续发货！麒麟970芯片！AI智能拍照！
					<a href=""><u></u></a>
				</div>
				<div class="box-summary clear">
					<ul>
						<li>Price：</li>
						<li>
							<span>£</span>
							<span th:text="${#numbers.formatDecimal(item.skuInfo.price, 1, 2)}">4499.00</span>
						</li>
						<li>
							<a href="/static/item/">

							</a>
						</li>
					</ul>
				</div>

				<div class="box-stock">
					<ul class="box-ul">
						<li>Delivery </li>
						<li class="box-stock-li">
							<div class="box-stock-one">
								Stoke-On-Trent
								<img src="itemStatic/img/4a79b87a68623d4e8a73aff3e25fa99b.png" alt="" class="img" />
							</div>
							<div class="box-stock-two">
								<dl>
									<dt>
										<a>Other Location</a>
										<img src="itemStatic/img/4a79b87a68623d4e8a73aff3e25fa99b.png" alt="" class="box-stock-two-img"/>
									</dt>
									<dd>
										<div class="box-stock-dd">
											<div class="box-stock-top">
												<div class="box-stock-div">Uk</div>
												<div class="box-stock-div">Staffordshire</div>
												<div class="box-stock-div">Stoke</div>
											</div>
											<div class="box-stock-fot">
												<div class="box-stock-con" style="display: block;">
													<ul>
														<li>UK</li>
													</ul>
												</div>
												<div class="box-stock-con">
													<ul>
														<li>Birmingham</li>
														<li>Manchester</li>
														<li>Staffordshire</li>
													</ul>
												</div>
												<div class="box-stock-con">
													<ul>
														<li>Stoke-on-Trent</li>
													</ul>
												</div>

											</div>
										</div>
									</dd>
								</dl>

							</div>

						</li>
						<li>
							<span th:text="${item.hasStock ? 'In stock' : 'out of stoc'}"></span>
						</li>
					</ul>
				</div>
				<div class="box-supply">
					<ul class="box-ul">
						<li></li>
						<li>
							Delivery Service Provide By <span>MallE</span>.
						</li>
					</ul>
				</div>
				<div class="box-attr-3">
					<div class="box-attr clear" th:each="saleAttr: ${item.saleAttrs}">
						<dl>
							<dt>Choice [[${saleAttr.attrName}]]</dt>
							<dd th:each="valWithSkus : ${saleAttr.attrValueWithSkus}"
								th:attr="sku_ids=${valWithSkus.skuIds}">
								<a>
									[[${valWithSkus.attrValue}]]
								</a>
							</dd>
						</dl>
					</div>
				</div>

				<div class="box-btns clear" th:if="${item.hasStock}">
					<div class="box-btns-one">
						<input type="text" name="" id="" value="1" />
						<div class="box-btns-one1">

							<div>
								<button id="jia">
									+
								</button>
							</div>
							<div>
								<button id="jian">
									-
								</button>
							</div>

						</div>
					</div>
					<div class="box-btns-two">
						<a href="../商品分类\index.html">
							Add To Basket
						</a>
					</div>
				</div>
			</div>

		</div>
	</div>

	<div class="ShopXiangqing">
		<!--商品介绍-->
		<div class="allquanbushop">
			<ul class="shopjieshao">
				<li class="jieshoa" style="background: #e4393c;">
					<a href="##" style="color: white;">Intro</a>
				</li>
				<li class="baozhuang">
					<a href="##">Attributes</a>
				</li>
				<li class="baozhang">
					<a href="##"> </a>
				</li>
				<li class="pingjia">
					<a href="##"> </a>
				</li>
				<li class="shuoming">
					<a href="##"> </a>
				</li>

			</ul>

			<ul class="shopjieshaos posi" style="display: none;">
				<li class="jieshoa" style="background: #e4393c;">
					<a href="#li1" style="color: white;">Intro</a>
				</li>
				<li class="baozhuang">
					<a href="#li2">Attributes</a>
				</li>
				<li class="baozhang">
					<a href="#li3"> </a>
				</li>
				<li class="pingjia">
					<a href="#li4"> </a>
				</li>
				<li class="shuoming">
					<a href="#li5"> </a>
				</li>
			</ul>

			<!--商品详情-->
			<div class="huawei">
				<ul class="xuanxiangka">
					<li class="jieshoa actives" id="li1">
						<div class="shanpinsssss">
							<img th:each="desc:${#strings.listSplit(item.spuDesc.decript, ',')}" class="xiaoguo"
								 th:src="${desc}"/>
						</div>
					</li>
					<li class="baozhuang actives" id="li2">
						<div class="guiGebox">
							<div class="guiGe" th:each="group : ${item.spuAttrGroups}">
								<h3 th:text="${group.attrGroupName}">主体</h3>
								<dl>
									<div th:each="attr : ${group.attrs}">
										<dt th:text="${attr.attrName}">品牌</dt>
										<dd th:text="${attr.attrValue}">华为(HUAWEI)</dd>
									</div>
								</dl>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="Fixedbian">
	<ul>
		<li class="li1"><a class="aaa" href="##">Top</a></li>
	</ul>
</div>
<div class="gouwuchexiaguo">
	<img src="itemStatic/img/44.png" />
	<span>Nothing In Basket, Shopping Now!</span>
</div>

<footer class="footer">
	<div class="footer_top" style="margin-left: 750px">
		<ul>
			<li>
				<h3>YuChen Liu</h3>
			</li>
			<li>
				<h3>A Student Of</h3>
			</li>
			<li>
				<h3>Staffordshire University</h3>
			</li>
		</ul>
	</div>
	<div class="footer_foot" style="margin-left: 700px">
		<p class="footer_p">
			<a href="">About Us</a>
			<span></span>
			<a href="" style="color: rgb(114, 114, 114);">Contact us</a>
			<span></span>
			<a href="">Help</a>
			<span></span>
			<a href="" style="color: rgb(114, 114, 114);">Allwayz Liu</a>
			<span></span>
			<a href="" style="color: rgb(114, 114, 114);">YuChen Liu</a>
			<span></span>
			<a href="" style="color: rgb(114, 114, 114);">Staffordshire University</a>
			<span></span>
			<a href="" style="color: rgb(114, 114, 114);">2020-2021</a>
		</p>
		<p class="footer_p">
			<a href="">StaffordShire University Assessment</a>
			<span></span>
			<a href="">Student Id:17029865</a>
			<span></span>
			<a href="">Name: YuChen Liu</a>
			<span></span>
			<a href="">Final Year Project</a>
		</p>
		<p class="footer_p">
			<a href="">Copyright © 2020 - ∞  Malle.com</a>
			<span></span>
			<a href="">GitHub Page</a>
			<span></span>
			<a href="">Thanks to everyone who helped me</a>
		</p>
		<p class="footer_p">

			<a href="">Project Based On: Docker</a>
			<span></span>
			<a href="">Ali Cloud</a>
			<span></span>
			<a href="">MariaDB，Radis，ElasticSearch</a>
			<span></span>
			<a href="">Nginx,TomCat, Java VM</a>
			<span></span>
			<a href="">Pictures FromThe brand's official website</a>
		</p>
	</div>
</footer>

</body>


<script src="itemStatic/js/jquery1.9.js" type="text/javascript" charset="utf-8"></script>
<script src="itemStatic/js/js.js" type="text/javascript" charset="utf-8"></script>
<script>
	$(function (){
		// 先去掉所有属性框样式
		$(".box-attr dd").css({
			"border": "solid 1.5px #CCC"
		}).removeClass("attr-selected");
		// 销售属性框回显，点击，样式变化
		var skuId = String([[${item.skuInfo.skuId}]])
		$(".box-attr dd").each(function() {
			// 当前商品具有当前属性，选择框变红
			var skuids = $(this).attr("sku_ids").split(",")
			if (skuids.includes(skuId)) {
				$(this).css({
					"border": "solid 1.5px red"
				}).addClass("attr-selected")
			}
		})
	})

	// 点击事件
	$(".box-attr dd").click(function() {
		// 给自己添加样式，去掉它的兄弟的样式
		$(this).css({
			"border": "solid 1.5px red"
		}).addClass("attr-selected")
				.siblings("dd").css({
			"border": "solid 1.5px #ccc"
		}).removeClass("attr-selected");
		// 找到所有被选择的dd，（每种属性下有一个被选中）
		var list_skuids = new Array();
		$("dd[class=attr-selected]").each(function (){
			// 具有这个属性的skuids
			var skuids = $(this).attr("sku_ids").split(",")
			list_skuids.push(skuids)
		})
		// 求出所有skuids的交集就唯一确定了这些属性确定的那个skuid
		// filter方法是juqery的，所以需要先包装
		var to_skuid = $(list_skuids[0])
		for (var i = 1; i < list_skuids.length; ++i) {
			to_skuid = to_skuid.filter(list_skuids[i])
		}
		// 城市成农商IC狮女传说你陈女士超时空
		// 包装完后再变为js对象
		// console.log(to_skuid[0])
		// 跳转到这个sku的详情页
		window.location.href = "http://item.malle.com/" + to_skuid[0] + ".html";
	})

	function addToCart() {
		var skuId = $("#a_addTocart").attr("skuId");
		var count = $("#input_sku_count").val();
		window.location.href = "http://cart.malle.com/cart/additem?skuId=" + skuId + "&count=" + count;
		return false;
	}

	$("#a_seckill").click(function () {
		var isLogin = [[${session.loginUser != null}]]
		if (!isLogin) {
			alert("秒杀请先登录！")
		} else {
			var skuId = $(this).attr("skuId");
			var sessionId = $(this).attr("sessionId");
			var seckillToken = $(this).attr("seckillToken");
			var seckillId = sessionId + "_" + skuId;
			var count = $("#input_sku_count").val();
			location.href="http://seckill.malle.com/seckill/item?seckillId="+seckillId+"&count="+count+"&seckillToken="+seckillToken;
		}
		return false;
	})
</script>

<script>
	function goToList(){
		var word = document.getElementById("item_keyword_input").value;
		console.log(word);
		window.location.href='http://search.malle.com/list.html?keyword='+word;
	}
</script>

</html>
